{% extends 'base.html' %}
{% load static %}


{% block title %}
About
{% endblock title %}


{% block content %}
<!--- Fixed background -->


<!--- Meet the team -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h2 class="display-4"> Meet the Team</h2>
    </div>
    <hr>
</div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">Seline R.Singh</h4>
                <p class="card-text"> ..................</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">Michael Echeverria</h4>
                <p class="card-text"> ...........</p>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">Melvin Gatewood</h4>
                <p class="card-text"> ........</p>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">Justin Driver</h4>
                <p class="card-text"> ........</p>
            </div>
        </div>
    </div><div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h4 class="card-title">Zhuo Diao</h4>
                <p class="card-text"> ........</p>
            </div>
        </div>
    </div>
</div>
</div>

<hr class="my-4">
<br>
<br>

<!--- Additional Info Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4"> Additional Information</h1>
        <hr>
        <div class="col-12">
            <p class="lead"> ......</p>
        </div>
    </div>
</div>
</div>
{% endblock content %}
